@media (max-width: 1200px)
    .topnav
        &__link
            font-size: 13px
        &__item
            padding-right: 20px
    .maintext
        &__title
            font-size: 50px
    .cards
        &__text
            width: 300px
    .mobile
        &__item
            align-items: center
            margin: 30px auto 0
            width: 100%
    .information
        &__textcontainer
            flex-direction: column
            justify-content: center
            align-items: center
        &__icons
            order: 1
            width: 160px
            margin-top: 20px
        &__markets
            order: 2
            margin-top: 20px
@media (max-width: 991px)
    .topnav
        &__link
            font-size: 10px
        &__item
            padding-right: 9px
    .subheader
        &__iconimg
            width: 100%
        &__icontext
            font-size: 11px
        &__number
            font-size: 19px
        &__button
            width: 100%
            height: 40px
            margin-top: 22px
            margin-left: 8px
    .maintext
        &__title
            font-size: 41px
        &__subtitle
            font-size: 30px
    .cards
        align-items: flex-start
        &__text
            margin-top: 20px
    .title
        font-size: 27px
    .subtitle
        font-size: 14px
    .label
        font-size: 11px
        width: 90px
    .mobile
        &__item
            &-subtitle
    .choiseone
        &__img
            width: 500px
    .choisetwo
        height: 50px
        &__text
            padding: 0
    .information
        &__textcontainer
            flex-direction: column
            justify-content: center
            align-items: center
        &__icons
            order: 1
            width: 160px
            margin-top: 20px
        &__markets
            order: 2
            margin-top: 20px 

@media (max-width: 767px)
    .topnav
        &__list
            position: fixed
            flex-direction: column
            justify-content: center
            align-items: center
            top: 0
            left: -100%
            height: 100vh
            width: 50%
            padding: 20px 15px
            background-color: rgba(0,0,0, .8)
            transition: 0.5s all
            &-active
                left: 0
        &__link
            font-size: 21px
        &__item
            border: none
            padding-right: 0
            margin-top: 15px
    .mobile
        &__item
            width: 290px
            height: 254px
            &__subtitle
                font-size: 18px
    .choiseone
        position: relative
        .title, .subtitle
            position: absolute
            top: 0
            left: -200%
        &__img
            width: 300px
            height: 190px
    .choisetwo
        position: relative
        height: 0
        &__text
            transform: translateY(-140px)
            color: #fff
    .title
        font-size: 16px
    .subtitle
        font-size: 14px
    .label
        font-size: 11px
        width: 90px
    .alltheworld
        padding: 25px 0
        height: 360px
        &__title
            font-size: 11px
        &__subtitle
            font-size: 16px
            margin-top: 16px
            line-height: 13px
        &__text
            font-size: 14px
            margin-top: 10px
        &__towns
            margin-top: 190px
    .information
        &__towns
            &-item
                font-size: 14px
                a
                    margin: 0 10px
        &__textcontainer
            flex-direction: column
            justify-content: center
            align-items: center
        &__icons
            order: 1
            width: 160px
            margin-top: 20px
        &__markets
            order: 2
            margin-top: 20px
